/* Container for the entire layout */
.main-container {
    display: flex;
  }
  
  /* Style for the filter container */
  .filter-container {
    width: 250px;
    margin: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .filter-container h4 {
    margin-bottom: 10px;
    background-color: #1a1a3b;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .filter-container ul {
    list-style: none;
    padding: 0;
  }
  
  .filter-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .filter-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .filter-container label {
    flex-grow: 1;
    text-align: left;
  }
  
  .count {
    color: #333;
    margin-left: 10px;
  }
  
  /* Style for the list of hotels */
  .list-hotel-container {
    flex-grow: 1;
    margin: 20px;
  }