.guest-dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 200px;
    padding: 10px;
    border-radius: 4px;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown-item span{
    color: #1A1E43;
    font-size: 12px;
}

.counter {
    display: flex;
    align-items: center;
    gap: 5px;
}

.counter button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #1A1E43;
}

.counter span {
    width: 15px;
    text-align: center;
    font-size: 14px;
}

.apply-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.apply-button {
    padding: 5px 10px;
    border: none;
    background-color: #1A1E43;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.apply-button:hover {
    background-color: #1a2d5e;
    transition: all 0.3s ease-out;
    transition: 250ms;
}

.form-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex: 1;
    cursor: pointer;  
}