/* TopRatedHotels.css */

.top-rated-hotels-container {
    margin: 116px;
    padding: 0 20px;
    font-family: 'Inter';
  }

  .divider {
    width: 10%;
    height: 4px;
    border-radius: 4px;
    background-color: #FEBB02;
    margin: 10px 0;
  }
  
  .top-hotels-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tophotel-card {
    width: calc(33.33% - 20px);
    margin-top: 32px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 16px;
    overflow: hidden;
  }
  
  