.highlights-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5), -10px -10px 10px white;
  width: 300px;
  margin-left: 7%;
}

.highlight-item {
  margin-bottom: 10px;
}

.highlight-item:last-child {
  margin-bottom: 0;
}
