body {
    background-color: #F4F4F4; 
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container-booking-confirmation {
    padding: 32px 12%;
}

.elements {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 24px;
}

.container-forms {
    flex: 0 0 70%; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-personal-details,
.container-payment-details {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 2% 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-personal-details h4,
.container-payment-details h4 {
    margin-bottom: 24px;
}

.name-labels,
.contact-labels,
.salutation-labels,
.requests-labels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 16px;
}

.name-fields,
.contact-fields,
.salutation-fields,
.requests-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 24px;
}

.name-labels p,
.contact-labels p,
.salutation-labels p,
.requests-labels p {
    margin: 0;
}

.name-fields input,
.contact-fields input,
.salutation-fields input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.requests-fields textarea {
    width: 175%;
    height: 150px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 8px; 
}

.checkbox-container label {
    margin: 0;
}

.container-booking-details {
    flex: 0 0 30%; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.booking-pricing-card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 6% 4%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-pricing-card p{
    padding-top: 2%;
}

.booking-details-card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 6% 4%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-details-card p{
    padding-top: 2%;
}

.checkin-checkout-info {
    display: flex;
    align-items: center;
    margin-top: 20px; 
}

.checkin-column,
.checkout-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.date-info,
.time-info {
    margin: 4px 0;
}

.separator {
    margin: 0 20px;
    font-size: 32px;
    color: #333;
}

.confirm-button-container {
    display: flex;
    justify-content: start;
    margin-top: 32px;
    padding-left: 25%;
}

.confirm-button {
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #1a1e43;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-transform: none;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #141737;
}

.required-asterisk {
    color: red;
}

.area-labels {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
    margin-bottom: 16px;
}

.area-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
    margin-bottom: 24px;
}

.area-labels p,
.area-fields input {
    margin: 0;
    text-align: left;
}

.area-fields input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}




@media (max-width: 768px) {
    .checkin-checkout-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .separator {
        display: none; 
    }
}


@media (max-width: 768px) {
    .container-booking-confirmation {
        padding: 16px;
        flex-direction: column; /* Stack forms and details vertically on smaller screens */
    }

    .container-forms,
    .container-booking-details {
        flex: none;
        width: 100%; /* Full width on small screens */
    }

    .container-booking-details {
        margin-top: 20px; /* Add margin to separate from forms */
    }
}

@media (max-width: 480px) {
    .container-booking-confirmation {
        padding: 8px;
    }

    .container-personal-details,
    .container-payment-details {
        padding: 1% 1%;
    }

    .name-labels,
    .contact-labels,
    .salutation-labels,
    .requests-labels,
    .name-fields,
    .contact-fields,
    .salutation-fields,
    .requests-fields {
        grid-template-columns: 1fr;
    }

    .name-labels p,
    .contact-labels p,
    .salutation-labels p,
    .requests-labels p {
        margin-bottom: 8px;
    }

    .name-fields input,
    .contact-fields input,
    .salutation-fields input,
    .requests-fields textarea {
        margin-top: 8px;
    }
}
