/* This style is applicable to both PriceFilter and StarFilter */

.filter-section {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.filter-section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #1A1A48;
  height: 30px;
  color: #fff;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.filter-section ul {
  list-style: none;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.filter-section ul li input {
  margin-right: 10px;
}

.filter-section ul li label {
  flex: 1;
}

.star-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.star-rating .MuiRating-root {
  margin-right: 10px;
}