.success-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background: #f4f6f9;
    min-height: 100vh;
    overflow: hidden; 
  }
  
  .stepper-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s ease-out 0.2s forwards;
  }
  
  .transaction-container {
    max-width: 600px;
    width: 100%;
    background: #ffffff; 
    border-radius: 10px;
    padding: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    opacity: 0; 
    animation: fadeInUp 1s forwards;
  }
  
  .success-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eafaf1; 
    border-radius: 50%;
    width: 70px; 
    height: 70px;
    margin: 0 auto 20px auto;
    padding: 10px;
    animation: bounceIn 1s; 
  }
  
  .success-icon {
    font-size: 30px;
    color: #28a745; 
    transition: transform 0.3s ease; 
  }
  
  .success-icon-container:hover .success-icon {
    transform: scale(1.2);
  }
  
  .transaction-container h2,
  .transaction-container p {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .transaction-container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease-out 0.5s forwards;
  }
  
  .transaction-container h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out 0.7s forwards;
  }
  
  .transaction-container p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    animation: fadeInUp 1s ease-out 1s forwards;
  }
  
  @media (max-width: 768px) {
    .success-page {
      padding: 2% 3%;
    }
  
    .transaction-container {
      padding: 2%;
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounceIn {
    from {
      opacity: 0;
      transform: scale(0.1);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes iconBounce {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  
