.amenities {
    padding-top: 2%;
}

.roomlist {
    padding-top: 2%;
}

.map {
    padding-top: 2%;
}

html {
    scroll-behavior: smooth;
  }
  
.description {
    padding-top: 2%;
}

body {
    background: #f9f9f9;
}

.sticky-nav-tabs {
    position: -webkit-sticky;
    position: sticky;
    top: 8%;
    z-index: 1000; 
    background-color: none; 
    padding-top: 20px; 
  }

  .search-form-hotel {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    width: 60%; 
}


  
  