.amenities {
    padding-top: 2%;
}

.roomlist {
    padding-top: 2%;
}

.map {
    padding-top: 2%;
}

html {
    scroll-behavior: smooth;
  }
  
.description {
    padding-top: 2%;
}

body {
    background: #f9f9f9;
}

  .search-form-hotel {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    width: 60%; 
    transition: box-shadow 0.5s;
}

  .search-form-hotel:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
}


  
  