.image-container {
    position: relative;
}

.image-container img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.image-container .prev-icon,
.image-container .next-icon {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .prev-icon,
.image-container:hover .next-icon {
    opacity: 1;
}