.search-form {
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
    z-index: 1;
}

.input-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.input-icon {
    width: 12px;
    height: 12px;
    color: #061a40;
}

.form-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex: 1;
}

.form-submit {
    padding: 10px 20px;
    border: none;
    background-color: #1A1E43; 
    color: white;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 12px;
}

.form-submit:hover {
    background-color: #1a2d5e; 
    transition: all 0.3s ease-out;
    transition: 250ms;
}

#result {
    border: 1px dotted #ccc;
    padding: 3px;
    width: 314px;
    position: absolute;
    background: white;
    top: 60px;
    border: none;
}

#result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 200px;
    width: 314px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#result form {
    width: 200px;
}

#result ul li {
    padding: 5px 0;
    color: black;
}

#result ul li:hover {
    background: #eee;
}
